<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy0oCS2HMVb4ahIanQ6xh-HD3y4G3fvKU</string>
	<key>GCM_SENDER_ID</key>
	<string>1059671592375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkingUser</string>
	<key>PROJECT_ID</key>
	<string>serverparking-9de55</string>
	<key>STORAGE_BUCKET</key>
	<string>serverparking-9de55.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059671592375:ios:b9b73b98706d2fe284ec32</string>
	<key>DATABASE_URL</key>
	<string>https://serverparking-9de55-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>